.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5rem;
    text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* background-image: url('/CavePageAssets/Page 1/background.png'); */
    background-color: rbg(0,1,0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

.backgroundImgP1 {
    background-image: url('/CavePageAssets/Page 1/backgroundPage1.png');
}

.backgroundImgP2 {
    background-image: url('/CavePageAssets/Page2/backgroundPage2.png');
}

.container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
    align-items: end;
    z-index: 1;
    overflow: hidden;
}

.cluckie {
    width: 10%;
}

.land {
    height: 150px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.redEyes {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 0;
    animation: blink 5s infinite ease-in-out;
}

.eyesP1 {
    background-image: url('/CavePageAssets/Page 1/EyesPage1.png');
}

.eyesP2 {
    background-image: url('/CavePageAssets/Page2/EyesPage2.png');
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.instructionsContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page3Video {
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100;
    image-rendering: pixelated;
}

.flashBang {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: white;
    animation: flashBang 1s linear forwards;
}

@keyframes flashBang {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        z-index: -1;
    }    
}