.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 5rem;
    text-shadow: -5px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    /* background-image: url('/LandingPageAssets/Page 1/background.png'); */
    background-color: rbg(0,1,0);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.backgroundImgP1 {
    background-image: url('/LandingPageAssets/Page 1/bgP1.png');
}

.backgroundImgP2 {
    background-image: url('/LandingPageAssets/Page2/bgP2.png');
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;
    margin: calc((100vh/1080)*140) 0;
}

.cluckie {
    width: 10%;
    transition: transform 0.1s ease-out;
}

.redEyes {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 10;
    animation: blink 5s infinite ease-in-out;
}

.eyesP1 {
    background-image: url('/LandingPageAssets/Page 1/EyesPage1.png');
}

.eyesP2 {
    background-image: url('/LandingPageAssets/Page2/EyesPage2.png');
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}